
body{
  font-family: 'Big Shoulders Text', sans-serif;
font-family: 'Goldman', sans-serif;
font-family: 'Hanken Grotesk', sans-serif;
font-family: 'League Spartan', sans-serif;
font-family: 'Lexend Deca', sans-serif;
font-family: 'Work Sans', sans-serif;
}
:root{
    /*primary color*/
    --very-dark-magenta:hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    /*Neutral color*/
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
    /*font weight*/
    --fw-regular: 500;
  --fw-bold: 700;
  --fw-black: 800;
    /*font size*/
  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-700: 1.75rem;
}
/*layout*/
asdfasdf
dfasdjfasdff
sdfasdj